/* proprietà di stile */

ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

#navbar {
    background-color: rgb(217, 66, 194);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 900;
}

.navlist a {
    color: white;
}

.spacing-container {
    padding-top: 6rem;
}

.white-text {
    color: white;
    font-weight: 700;
}

.card-box {
    width: 100%
}

img {
    width: 100%;
    height: 300px;
    object-fit: contain;
}

.spacing {
    gap: 3rem;
}


.btn-info {
    padding: 8px 16px;
    background-color: rgb(217, 66, 194);
    color: white;
    border-radius: 3rem;
}

.btn-container:hover a {
    background-color: rgb(137, 43, 123);
}